<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE - Job Portal">
        Job Portal
    </title>

    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>

<body>

<!-- Page content will come here -->
<main layout:fragment="content">
</main>

<script src="/js/flowbite.min.js"></script>

</body>
</html>